.card {
    border: 1px solid burlywood;
    border-radius: 10px;
    display: inline-block;
    padding: 3px;
    margin: 3px;
    box-shadow: 0 5px 5px rgba(224, 42, 118, 0.918);
    width: calc(33.33% - 32px);
    text-align: center;
        }

        .card img {
    max-width: 100%;
        }